<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com_xzyh_crm.dao.MenuRoleRefMapper" >
  <resultMap id="BaseResultMap" type="com_xzyh_crm.pojo.MenuRoleRef" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sys_role_id" property="sysRoleId" jdbcType="BIGINT" />
    <result column="subject_id" property="subjectId" jdbcType="BIGINT" />
    <result column="subject_type" property="subjectType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sys_role_id, subject_id, subject_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from menu_role_ref
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from menu_role_ref
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com_xzyh_crm.pojo.MenuRoleRef" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into menu_role_ref (sys_role_id, subject_id, subject_type
      )
    values (#{sysRoleId,jdbcType=BIGINT}, #{subjectId,jdbcType=BIGINT}, #{subjectType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com_xzyh_crm.pojo.MenuRoleRef" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into menu_role_ref
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysRoleId != null" >
        sys_role_id,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="subjectType != null" >
        subject_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysRoleId != null" >
        #{sysRoleId,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="subjectType != null" >
        #{subjectType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com_xzyh_crm.pojo.MenuRoleRef" >
    update menu_role_ref
    <set >
      <if test="sysRoleId != null" >
        sys_role_id = #{sysRoleId,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="subjectType != null" >
        subject_type = #{subjectType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com_xzyh_crm.pojo.MenuRoleRef" >
    update menu_role_ref
    set sys_role_id = #{sysRoleId,jdbcType=BIGINT},
      subject_id = #{subjectId,jdbcType=BIGINT},
      subject_type = #{subjectType,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>